<head>
             <link href="{{ asset('css/bootstrap3.3.min.css') }}" rel="stylesheet"/>

</head>
<body >
{# <meta http-equiv="refresh" content="5" > #}
             <link href="{{ asset('css/navbar.css') }}" rel="stylesheet"/>
    <script src="{{ asset('js/navbar.js')  }}" type="text/javascript"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script>
            var $j = jQuery.noConflict();
            var productNames = [];

            $j(document).ready(function(){

                $j('.search').each(function() {
                    $j(this).typeahead({

                        source: function(query, result)
                        {
                            $j.ajax({
                                url: '{{ path('searching') }}',
                                method:"POST",
                                data:{query:query},
                                dataType:"json",
                                    success:function(data)
                        {
                            result($j.map(data, function(item){
                                
                                var productNames = [];

                                $j.each(item, function(index, product) {
                                    productNames.push(product.brand_name + "#" + product.id + "#" + product.logo);
                                });

                                return productNames;
                            }));

                                }
                            })
                        },

                        highlighter: function(item) {
                             var parts = item.split('#'),
                              html = '<div class="typeahead" style="width: 200px;">';
                                html += '<div class="media"><a class="pull-left" href="#"><img src="' + parts[2] + '"  width="80" height="80" alt="img"/></a>'
                                html += '<div class="media-body">';
                                html += '<p class="media-heading font-weight-bold">'+parts[0]+'</p>';
                                html += '</div>';
                                html += '</div>';



                            return html;
                        } , afterSelect: function (item) {
                            console.log('afterSelect: ' + item.id);
                            $j('.hiddenid').val(item.id); }
                         ,
                        updater: function(item) {
                            var parts = item.split('#');
                            window.location.assign("/brand/"+parts[1]) ;

                            return item={name:parts[0], id:parts[2]};

                        } 



                    }); });})
        </script>
       

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="flipkart-navbar" >
    <div class="" >
        <a class="navbar-brand" style="padding-left: 10px; padding-top: 20px;" href="{{path('index')}}">
          <img class="img-fluid img-thumbnail" src="{{ asset('images/brandRatingsLogo2.png') }}" alt="">
        </a>
    </div>
        <div class="row row1" >
            <ul  class="largenav pull-right">
                <li class="upper-links"><a class="links" href="{{path('index')}}">Home</a></li>
                <li class="upper-links"><a data-role="none" class="links" href="{{path('search_page')}}">Browse Brands</a></li>
                <li class="upper-links"><a class="links" href="{{path('brands_create')}}">Add new brand</a></li>
              
                
                <li  class="upper-links dropdown"><a class="links" href="">User</a>
                    <ul  class="dropdown-menu">
                    {% if app.user %}
                        <li class="profile-li"><a class="profile-links" href="{{ path('fos_user_profile_edit') }}">Edit profile</a></li>
                        <li class="profile-li"><a class="profile-links" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% else %}
                        <li  class="profile-li"><a class="profile-links" href="{{ path('fos_user_security_login') }}">login</a></li>
                        <li class="profile-li"><a class="profile-links" href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row row2" style="padding-left: 10px;">
            
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    
       <input data-role="none" type="search" name="recipe[raw1]" class="search flipkart-navbar-input col-xs-11" placeholder="Search"  aria-label="Search">
                    <a href="{{path('search_page')}}" data-role="none" class="flipkart-navbar-button col-xs-1">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </a>
                </div>
            </div>
            
        </div>
    
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: #2874f0; padding-top: 10px;">
        <span class="sidenav-heading">Home</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <a href="http://clashhacks.in/">Link</a>
    <a href="http://clashhacks.in/">Link</a>
    <a href="http://clashhacks.in/">Link</a>
    <a href="http://clashhacks.in/">Link</a>
</div>

</body>