{% extends 'base.html.twig' %}
        
 {% block stylesheets %}
 <link href="{{ asset('css/showPage.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/rating.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/comments.css') }}" rel="stylesheet"/>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

 {% endblock %}
{% block body %}


 
  


<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img col-xl-8">
                            <img src="{{ brand.logo}}" class="img-fluid" alt=""/>
                          
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                   {{ brand.brandName }}
                                    </h5>
                                    <h6>
                                         {{ brand.category }}
                                    </h6>
                                      <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="{{brand.rating}}">
                            <ul class="nav nav-tabs " id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Description</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Contacts</p>
                            <a href="">Website Link</a><br/>
                            <a href="">Facebook page</a><br/>
                            <a href="">Instagram page</a><br>
                            <a href="">Twiiter page</a><br/>
                           
                            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab col-xl-9" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                       
                                       <div class="row">
                                            <div class="col-md-6">
                                                <label>Products</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>//TODO: Products</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Founded</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>//TODO: Founded</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Country</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>//TODO: Country</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Owner</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>//TODO: Owner</p>
                                            </div>
                                        </div>
                                        
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                Brand description
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>

  



<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="logout">
        <div class="page-header">
            <h3 class="reviews">Leave your comment</h3>
            
        </div>
        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
                <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
            </ul>            
            <div class="tab-content">
                <div class="tab-pane active" id="comments-logout">                
                    <ul class="media-list">


 {% for review in reviews %}



                      <li class="media">
                        <a class="pull-left" href="#">
                          <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
                        </a>
                        <div class="media-body">
                          <div class="well well-lg">
                              <h4 class="media-heading text-uppercase reviews"> {{ review.getUserId}} </h4>
                               <ul class="media-date text-uppercase reviews list-inline">
                                <li class="mm">
                              <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="{{ review.stars}}">
                              </li>
                              </ul>
                              <ul class="media-date text-uppercase reviews list-inline">
                                <li class="dd">{{ review.date|date('d')}}</li>
                                <li class="mm">{{ review.date|date('m')}}</li>
                                <li class="aaaa">{{ review.date|date('Y')}}</li>
                              </ul>
                              <p class="media-comment">
                               {{ review.comment}}
                              </p>
                                </div>              
                        </div>
                        
                      </li>

   {% endfor %}

                    </ul> 
                </div>
                <div class="tab-pane" id="add-comment">
            {{ render(controller(
        'App\\Controller\\ReviewsController::newReview',
        { 'slug': brand.id }
             )) }}

                   
                </div>
                
            </div>
        </div>
	</div>
  </div>
  
                
       
  
  
</div>


    <script src="{{ asset('js/rating.js')  }}" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}

{% endblock %}

